<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark navbar-algebra position-fixed"
>
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets\materials\navbar\vuaLogo.png" alt="Logo Algebra" />
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarAlgebra"
      aria-controls="navbarAlgebra"
      aria-expanded="false"
      aria-label="Otvori navigaciju"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarAlgebra">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"
            ><i class="fas fa-home"></i> Početna</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about.html"
            ><i class="fas fa-comments"></i> O nama</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/news.html"
            ><i class="fas fa-info-circle"></i> Novosti</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/curriculum.html"
            ><i class="fas fa-info-circle"></i> Nastavni plan</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="javascript:void(0);"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            ><i class="fas fa-envelope"></i> Kontakt</a
          >
        </li>
      </ul>
      <div id="subheader" class="d-flex"></div>
    </div>
  </div>
</nav>
